
body {
    background-color: #E7E7E7
    font-size: 1em;
    font-weight: normal
    font-family: arial, sans-serif
    color: #000000; /* black */
    text-align: left
    margin-left:10%;
    margin-right:10%;
    width: 1000px;
    min-width: 720px;
    margin: 0 auto;
    }
            
        h1{
            font-size: 1.8em;
            font-weight: bold;
            color: #0000ff; /* blue */
            text-align: center;
            padding: 5 px;
            margin: 5 px;
            background-color:lightgray;
            border: none;
        }
        h2{
            font-size: 1.8em;
            font-weight: bold;
            color: rgba(76, 68, 79, 0.68); /* gray */
            text-align: center;
            padding: none;
            border: none;
            margin: auto;
            background-color: lightgray;
            align-content: left;
        }

            tr {
                padding-top: 10px;
                border-bottom: 1px solid;
                padding-bottom: 10px;
                background-color:black;
                color:white;
                padding-left:5px;
                }   
            td {
                border: 1p solid #ddd;
                padding:8px;
                        }
            tr:nth-child(even) {
                background-color: #f2f2f2;
                }
            tr:hover {
                background-color: #ddd;
                }
           

            div#skipnav {
                position: relative;
                right: 12.5%;
                width:12em;
                top: 5px;
 	            left: 5px; 
                }

 
            div.info {
 	        width: 40%;
            font-size: 1.2em;
            float: left;
            }

            nav {
            clear: left;
            }


            #overview {
                font-size: 1.75em;
                background-color:white;
                padding-top: 10px;
                text-align: center;
                }


            .temp {
                font-style: italic;
                }

            #main {
                background-color:lightgray;
                color:black;
                }

               a {
                color: #706270; /* grey-ish purple */
                background-color: white;
                }  

            a:visited {
                color:mediumpurple;
                }
           
            a:hover, a:focus {
                color:white;
                background-color: #706270; /* grey-ish purple */
                }

             /* navigation menu styles */
            
            nav ul {
            list-style-type: none;
            }
            
            nav ul li {
            float: left;
            
            margin-right: 0.5em;
            }

            nav ul li a {
            padding: 0.25em 1em;
            text-decoration: none; /* no underline */
            background-color: #EBF5FF; /* pale bluish white */
            color: #4312AE; /* dark blue */
            border: 2px solid black;
            border-top-left-radius: 1em 1em; /* rounded corner! */
            border-top-right-radius: 1em 1em; /* another rounded corner */         	
            }          

            nav ul li a:hover, nav ul li a:focus {
            color: black;
            background-color: white;
            font-weight: bold;
            }




